body{
    height: 100vh;
    margin: 0px;
    background-color: bisque;
    display: flex;
    
}

.bg-image {
    margin: none;
    height: 100%;
}

.sidebar {
    width: 600px;
    overflow: hidden;
}

span {
    display: inline-block;
    max-width: 75ch;
}

ul {
    list-style-type: none;
}

form {
    padding-left: 0;
}