body{
    height: 100vh;
    margin: 0px;
    background-color: bisque;
    display: flex;
}

.bg-image {
    margin: none;
    height: 100vh;
    width: 43vw;
    object-fit: cover;
}

span {
    display: inline-block;
    max-width: 75ch;
}